body{
    text-align: center;
    font-family:'Comic Sans';
    background-image: url('Don\'t\ shoot\ he\'s\ black\(and\ a\ cat\).JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    color:white;
}
img{
    width: 200px;
}